.idea
__pycache__/
mango-service-v3/node_modules
mango-service-v3/dist
mango-service-v3/run-dev-server.sh
mango-service-v3/run-dev-server-devnet.sh
mango-service-v3/run-build-and-publish-docker-image.sh
mango-service-v3/run-build-and-test-docker-locally.sh
mango-service-v3/run-update-api-docs.sh
py/.venv
py/.idea
py/mango_service_v3_py/__pycache__/
